/*
 * File: HeaderAsFooter.scss
 * Project: scienceschool
 * File Created: Tuesday, 21st May 2019 2:19:32 pm
 * Author: LGH (1415684247@QQ.COM)
 * -----
 * Last Modified: Wednesday, 10th July 2019 10:30:00 am
 * Modified By: LGH (1415684247@QQ.COM>)
 * -----
 * Copyright 2019 - 2019 Your Company, Your Company
 */
#Header {
  z-index: 1;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 100%;
  //   border: 1px solid red;
  background: #006190;
  color: white;
  > div {
    font-size: 22px;
    img{
      display: block;
    }
    // flex: 1;
  }
  .el-menu {
    height: 60px;
    // color: white;
    // background: #006190;
    // flex: 1;
    // border: 1px solid red;
  }
}
#Home {
  // position: fixed;
  position: relative;
  top: 60px;
  // height: 180%;
  // height: 600px;
}
#Footer {
  // position: absolute;
  // position: relative;
  width: 100%;
  // top: 60px;
  // bottom: 0;
  // position: fixed;
  // bottom: 0;
  // background: #006190;
  background: url("/static/img/img_hone_bg.png") no-repeat;
  background-size: cover;
  font-size: 14px;
  color: white;
  .Footer_Container {
    font-size: 12px;
    margin: 0 auto;
    // max-width: 1000px;
    max-width: 1200px;
    border-bottom: 1px solid #9ad6ef;
    padding: 10px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    .flex_Container {
      text-align: left;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      > div {
        padding-bottom: 8px;
      }
    }
    .img_Container {
      text-align: center;
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      img {
        width: 70%;
      }
    }
  }
  .copy {
    font-size: 12px;
    padding: 5px 0;
    text-align: center;
  }
}
